@function em($target, $context: $base__font-size) {
    @return calc($target / $context) * 1em;
}

$base__font-size: 16px;

* {
    box-sizing: border-box;
}

html{
    overflow: auto;
}
html,
body{
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .4px;
}

.wrapper{
    margin: 0 auto;
    max-width: 1200px;
}

#container{
    min-height: 100vh;
    position: relative;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100%;
}

button{
    border: none;
}

h2,
h3,
h4 {
    font-weight:400;
}

ol,
ul{
    list-style: none;
}


// @mixin something($break) {
//     @if $break =="x-small" {
//         @media (min-width: $break--x-sml) and (max-width: $break--sml){
//             @content;
//         }
//     }
//     @else if $break =="small" {
//         @media (min-width: $break--sml + 1) {
//             @content;
//         }
//     }
//     @else if $break == "medium" {
//         @media (min-width: $break--med + 1) {
//             @content;
//         }
//     }
//     @else if $break =="large" {
//         @media (min-width: $break--lrg + 1) {
//             @content;
//         }
//     }
//     @else if $break == "x-large" {
//         @media (min-width: $break--x-lrg + 1) {
//             @content;
//         }
//     }
//     @else {
//         @error "#{$break} isnt a valid media query size!!";
//     }

// }