//======================================================
//======================================================
//CODING EXAMPLES CSS/SASS:
//======================================================
//======================================================

.placeholder_text{
    color: white;
    @include medium{
        margin-left: 175px;
    }
}


.placeholder_text img{
    width: 500px;
    height: 500px;
}