//===============================
//COLOR PALETTE DARKEST TO LIGHTEST

$Darkest_Night: #0A0A0B;
$Night: #0E0E0F;
$Eerie_Black: #1b1b1b;
$Jet: #2D2D2D;
$Dim_Gray: #6D6D6D;

//==============================

$base__font-size: 16px;