//======================================================
//HEADER CSS/SASS:
//======================================================

#HEADER{
    @include large{
        scroll-snap-align: start;
        height: 100vh;
    }
}

.header_img{
    background-image: url("Images/background_x-lrg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.header_container{
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.header_text{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    position: absolute;

    .head_text_container{
        display: flex;
        height: 50vh;
        justify-content: center;
        align-items: center;
    }

    .header_intro{
        font-size: 32px;

        h2{
            margin-top: 0;
        }
    }

    .head_scroll_container{
        height: 40vh;
        display: flex; 
        align-items: end;
        @include medium{
            height: 50vh;
        }
    }

    .scroll_down{
        font-size: 24px;
    }
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.hamburger-menu {
    height: em(60px);
    width: em(50px);
    position: relative;
    border-radius: 0.2rem;
    @include medium{
        display: none;
    }
}

.ham-bar {
    width: 70%;
    height: em(4px);
    background-color: white;
    border-radius: em(25px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bar-top {
    top: 30%;
}

.bar-bottom {
    top: 70%;
}